{% extends 'tester/base.html' %}

{% block content %}
<img src='http://{{streamingURL}}/tester.mjpg'  title="Live feed from inside the autotester">
{% if testList %}
	<form action="/tester/" method="post" id="queueTest">
		{% csrf_token %}
		<table><tr><td>Queue Tests</td><td>
		{% for test in testList %}
			<button type="submit" form="queueTest" title="add test {{test.testName}} to run queue" name="testName" class="queueButton" value="{{test.testName}}" />{{test.testName}}</button>
		{% endfor %}
		</td></tr></table>
	</form>
{% endif %}
{% if jobList %}
Test Queue<br>
	<form action="/tester/" method="post" id="updateQueue">
		<table class="queueTable">
		{% csrf_token %}
		<tr><td>Test</td><td>Status</td><td>Timestamp</td><td>Actions</td></tr><tr>
		{% for job in jobList %}
			<td title="Test performed or queued to be run">{{job.jobName}}</td>
			<td><input type="input" name="jobStatus" title="Status of the job" readonly="readonly" value="{{job.jobText}}" /></td>
			<td><input type="input" name="timeStamp" title="When the job was completed or queued" value="{{job.timeStamp}}" /></td>
			<td><button type="submit" form="updateQueue" name="jobAction" 
			{% if job.jobAction == "DELETE" %}
				title="Delete this job from the queue" 
			{% elif job.jobAction == "REMOVE" %}
				title="Remove this job from the queue" 
			{% elif job.jobAction == "CANCEL" %}
				title="Abort this job" 
			{% endif %}
			value="{{job.jobAction}}-{{job.jobIndex}}">{{job.jobAction}}</button></td>
			</tr>
		{% endfor %}
	</table>
	</form>
{% endif %}
{% endblock %}

